.ABOUT--
{
	font-family:"Times New Roman", Times, serif;
	font-style: italic;
	font-size: 20px;
	
}


 .serv{
 	background-color: rgb(255,240,255);
	margin: 20px;
	
	padding: 20px;
	text-align: center;
}
 .serv .icon
{
	width: 100px;
	height: 100px;
	line-height: 100px;
	border-radius: 100%;
}
 .serv-title
{
	font-weight: bold;
	font-size: 25px;
	margin-bottom:20px; 
}
 .serv-desc{
	font-size: 16px;
	color: #888;
	margin-bottom: 20px;
}